<img src="images/main_hero_image.png" class="hero-img">
<div class="section">
	<div class="get-started">
		<div class="sub-header" arb:id="get_started_label"></div>
		<ul>
			<li ng-click="switchTab('updates')">
				<span class="updates" arb:id="upd_sw_link"></span>
			</li>
		</ul>
	</div>
</div>
<div class="section">
	<div class="about-appman">
		<div class="sub-header" arb:id="about_appman"></div>
		<div class="sub-content" arb:id="about_appman_cont">
		</div>
	</div>
</div>
<div class="section">
	<div class="tutorials">
		<div class="sub-header" arb:id="trls_label"></div>
		<div class="sub-content" arb:id="no_trl">
		<!-- Temporarily hiding the Tutorial section since it is not implemented fully-->
			<!-- <div class="tutorial-sec" title="Not yet Implemented">
				<div class="tutorial-title" arb:id="trl1_label">Tutorial 1</div>
				<div class="tutorial-content" arb:id="trl_cont">How to Lorem ipsum dolor sit amet.</div>
			</div> -->
		</div>
	</div>
</div>
